html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url('da.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Menlo", monospaced;
    font: 14px/1.5 "Menlo", monospaced;
    color: #727272;
    font-weight: 400;
}

#canvas-wrapper {
    text-align: center;
}

#canvas {
    margin:0 auto;
    height: 75%;
}

#menu {
    float: right;
    margin-top: 10%;
    margin-right: 0%;
}