html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url('da.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Menlo", monospaced;
    font: 14px/1.5 "Menlo", monospaced;
    color: #727272;
    font-weight: 400;
}

#canvas {
    width: 80vmin;
    height: 80vmin;
    position: absolute;
    top: 35%;
    left: 45%;
    margin-top: -25vmin;
    margin-left: -25vmin;
}

#menu {
    float: right;
    margin-top: 100;
    margin-right: 100;
}
